@import '../../styles/variables.css';

.information {
    background-color: var(--white);
    width: 305px;
    height: 100%;
}

.information_dark {
    background-color: var(--dark-theme);
    color: var(--drk-theme-font);
}

.information > button {
    display: flex;
    justify-content: center;
    margin-left: 45px;
    margin-bottom: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.information > button > img {
    margin-left: 20px;
}

.imgInformation {
    display: flex;
    position: relative;
    justify-content: center;
}

.imgStatus {
    position: absolute;
    top: 110px;
    left: 190px;
}

.informationContainer {
    text-align: center;
    margin: 26px auto 0;
}

.authorName {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.profession {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    color: var(--dark-grey);
}

.lineInformation {
    margin-top: 25px;
    max-width: 72%;
    border-top: 2px solid var(--color-light-gray);
    margin-left: 40px;
}

.headerSkills {
    text-align: start;
    margin-left: 45px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    color: var(--black);
    margin-bottom: 15px;
}

.headerSkills_dark {
    color: var(--drk-theme-font);
}