:root {
    --color-gray: #E4E6EB;
    --color-light-gray: #F0F0F6;
    --white: #fff;
    --yellow: #FFB400;
    --black: #2B2B2B;
    --dark-grey: #767676;
    --white-font: #FAFAFA;
    --green: #7EB942;
    --dark-theme: #0f0f0f;
    --drk-theme-font: #f1f1f1;
}