@import '../../styles/variables.css';

.headerSecondary {
background-color: var(--color-light-gray);
color: var(--black);
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 123.6%;
text-transform: capitalize;
text-align: center;
}

.headerSecondary_dark {
    background-color: var(--dark-theme);
    color: var(--drk-theme-font);
}