@import '../../styles/variables.css';

.extraSkillsContainer {
    display: flex;
    margin: -10px 0 -10px 45px;
}

.extraSkillsContainer > p {
    margin-left: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    color: var(--dark-grey);
}