@import '../../styles/variables.css';

form {
    background-color: var(--white);
    padding: 0 25px 25px 25px;
}

.errorInput {
    border-color: red;
}

.textArea {
    display: flex;
    flex-direction: column;
}
.textArea > textarea {
    width: 99%;
    height: 210px;
    flex-shrink: 0;
    background: var(--color-light-gray);
    border: 0;
    resize: none;
}

button {
    margin-top: 26px;
    margin-left: 25px;
    padding: 9px 24px;
    border: 0;
    background: var(--yellow);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}